<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="handling.js"></script>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>CHAT realtime</h1>
    <div class="wrapper">
        <div id="loginForm">
            <h3>what is your name ?</h3>
            <input type="text" id="txtUsername"/>
            <input type='button' value="Register" id="btnRegister"/>
        </div>
    
        <div id="chatForm">
            <div id="left">
                <div id="boxTitle"> User Online</div>
                <div id="boxContent">

                </div>
            </div>

            <div id="right">
                <div id="sayHi">
                    Hello <span id="currentuser">Thong</span>
                    <input type="button" name="" id="btnLogout" value="Logout">
                </div>

                <div id="listMessage"></div>
                <div id="thongbao"></div>
                <input type="text" id="txtMessage"/>
                <input type="button" id="btnSendMessage" value="Send"/>
            </div>
        </div>
    </div>
</body>
</html>